.container {
  position: relative;
  width: 100%;
  height: 79vh;
  overflow-y: auto;

  @media (max-width: 768px) {
      height: 65vh;
    }
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
