.container {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    background: #ffffff;

    @media (max-width: 768px) {
      height: 65vh;
    }
  }
  
  .iframe {
    width: 95%;
    height: 75vh;
    border: none;
    margin-left: 10px;
  }
  