.main-title-bar {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 2.4rem;
    min-height: 6rem;
    padding: 1rem 0;

    &__text {
        font-family: 'Comic Sans MS', 'Marker Felt', 'Chalkduster', cursive;
        font-size: 1.5rem;
        font-weight: 900;
        font-style: normal;
        color: #0000FF;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-shadow: 
            3px 3px 0px #87CEEB,
            6px 6px 0px #4169E1,
            9px 9px 0px #000080,
            12px 12px 0px #191970;
        filter: drop-shadow(0 0 12px rgba(0, 0, 255, 0.8));
        position: relative;
        transform: perspective(500px) rotateX(10deg);
        animation: retroBounceMain 3s ease-in-out infinite;
        
        // Retro bubbly effect
        &::before {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            color: #87CEEB;
            z-index: -1;
            transform: translate(3px, 3px);
        }
        
        &::after {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            color: #4169E1;
            z-index: -2;
            transform: translate(6px, 6px);
        }
        
        a {
            color: #0000FF;
            text-decoration: none;
            text-shadow: 
                3px 3px 0px #87CEEB,
                6px 6px 0px #4169E1,
                9px 9px 0px #000080,
                12px 12px 0px #191970;
            filter: drop-shadow(0 0 12px rgba(0, 0, 255, 0.8));
        }
    }
    
    @keyframes retroBounceMain {
        0%, 100% {
            transform: perspective(500px) rotateX(10deg) scale(1);
        }
        50% {
            transform: perspective(500px) rotateX(10deg) scale(1.05);
        }
    }

    &__right {
        display: inline-flex;
        align-items: center;
        gap: 1.2rem;
        
        // Override Text component default bold styling for TRADERS TOOL
        .dc-text {
            font-family: 'Comic Sans MS', 'Marker Felt', 'Chalkduster', cursive;
            font-size: 1.5rem;
            font-weight: 900;
            font-style: normal;
            color: #0000FF;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-shadow: 
                3px 3px 0px #87CEEB,
                6px 6px 0px #4169E1,
                9px 9px 0px #000080,
                12px 12px 0px #191970;
            filter: drop-shadow(0 0 12px rgba(0, 0, 255, 0.8));
            position: relative;
            transform: perspective(500px) rotateX(10deg);
            animation: retroBounceMain 3s ease-in-out infinite;
            
            // Retro bubbly effect
            &::before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: #87CEEB;
                z-index: -1;
                transform: translate(3px, 3px);
            }
            
            &::after {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: #4169E1;
                z-index: -2;
                transform: translate(6px, 6px);
            }
            
            a {
                color: #0000FF;
                text-decoration: none;
                text-shadow: 
                    3px 3px 0px #87CEEB,
                    6px 6px 0px #4169E1,
                    9px 9px 0px #000080,
                    12px 12px 0px #191970;
                filter: drop-shadow(0 0 12px rgba(0, 0, 255, 0.8));
            }
        }
    }

    &-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;

        &--regulator {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 14rem;

            &__container.content-loader {
                width: 100%;
                height: 100%;
                padding: 0;
                cursor: not-allowed;
            }

            &--compare-modal {
                padding-right: 1rem;
            }
        }

        &--account-type-dropdown {
            padding-top: 0.5rem;
        }
    }
}
